extends ../layouts/common 
block content

    h1  CREATE NEW BOOKS

    form(action="/books/create", method="POST")
        label book's name
        span &nbsp
        input(type="text", name="title")
        br
        lable descript book
        input(type="text", name="description")
        span &nbsp
        button Create
        
    


