h1 CREATE TRANSACTION

form(action="/transactions/create", method="POST")
    lable UserID 
    div
        select(name="userId")
            each user in users
                option(value=user.id)= user.name
    
    br
    lable BookID 
    div
        select(name="bookId")
            each book in books
                option(value=book.id)= book.title

    br
    button Create