extends ../layouts/common 
block content


    h1 CREATE NEW USER

    form(action="/users/create", method="POST")
        label User Name
            span &nbsp
            input(type="text", name="name")
            span &nbsp
            button Create           