h1 TRANSACTION

a(href="/transactions/create") Create




form(action="/transactions")
    ul
        each transaction in transactions
             li
    
                lable User Name
                span &nbsp
                input(type="text", value=transaction.user.name, disabled)
                br
               

                lable Book Name
                span &nbsp
                input(type="text", value=transaction.book.title, disabled)
                br

                lable status
                span &nbsp
                if transaction.isComplete
                    input(type="text", disabled, value="Returned")
                else 
                    input(type="text", disabled, value="Rent")
                br

                a(href="/transactions/" + transaction.id + "/update") Update

div
   a(href="/home") Back

